<launch>
  <!--include file="$(find robot_localization)/launch/ekf_template.launch" > 
  </include>

  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" > 
  </include-->

  <!--include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" > 
  </include-->
  

  <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/ucar_2022-2.yaml" output="screen">
   <param name="frame_id" value="map" />
  </node> 
  
    <!--node pkg="ucar_nav" name="cmd_vel_to_ackermann_drive" type="cmd_vel_to_ackermann_drive.py"/-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ucar_nav)/launch/default.rviz"/>

</launch>
